@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.general{
    @apply flex h-full bg-white-mode-background dark:bg-dark-mode-background;
}

.container {
    @apply bg-white dark:bg-dark-mode-container;
    /*background-color: #121317;*/
    width: 100vw;
    border-radius: 12px;
    height: fit-content;
    margin: 1%;
    padding: 30px;
}

.tittle {
    /*color: #fff;*/
    @apply text-black dark:text-white;
    font-size: 25px;
    --font-principal: 'Inter', sans-serif;
    font-family: var(--font-principal);
    padding-bottom: 10px;
}


.minimalistsubtitleWhite{
    color: #fff;
    --fs-20: 10px;
    --fs-32: 22px;
    font-size: 14px;
    --font-principal: 'Quicksand', sans-serif;
    font-family: var(--font-principal); 
    opacity: 0.68;
  }


.table {
    left: 30px;
    width: 100%;
    border-collapse: collapse;
    --font-principal: 'Quicksand', sans-serif;
    font-family: var(--font-principal);
    border-radius: 10px;
}

.th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
    font-weight: bold;
    color: #93969e;
    font-size: 16px;
}

.tr {
    font-size: 16px;

}