@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.container {
    background-color: #121317;
    width: 100vw;
    border-radius: 12px;
    height: fit-content;
    margin: 1%;
    padding: 30px;
}

.tittle {
    color: #fff;
    font-size: 25px;
    --font-principal: 'Inter', sans-serif;
    font-family: var(--font-principal);
    padding-bottom: 10px;
}


.table {
    left: 30px;
    width: 100%;
    border-collapse: collapse;
    --font-principal: 'Quicksand', sans-serif;
    font-family: var(--font-principal);
    border-radius: 10px;
}

.th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
    font-weight: bold;
    color: #93969e;
    font-size: 16px;
}

.tr {
    font-size: 16px;

}